page-cadastro {
    .botao2{
        margin: 10px;
        background-color: #2e7d32f6;
        color: #ffffff;
    }

    .cancel{
        margin: 20px;
        background-color: #d7dbd763;
        color: #2E7D32;
    }
}