page-login {

}

ion-label{
    color: #2E7D32;    
}

ion-item{
    margin: 10px;
    color: #2E7D32; 
}

.botao{
    background-color: #2e7d32f6;
    color: #ffffff;
}

.opcoes{
    margin: 10px;
    color: #2E7D32;
}

.marca{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9em;
}
