page-login {

}

ion-content{
    margin-top: 30px;
}

ion-label{
    color: #2E7D32;    
}

ion-item{
    margin: 10px;
    color: #2E7D32; 
}

.botao{
    background-color: #2e7d32f6;
    color: #ffffff;
}

.botao2{
    margin: 10px;
    background-color: #2e7d32f6;
    color: #ffffff;
}

.cancel{
    margin: 20px;
    background-color: #d7dbd763;
    color: #2E7D32;
}

.opcoes{
    color: #2E7D32;
}

.marca{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
