page-login {

}

ion-content{
    margin-top: 30px;
}

ion-label{
    color: #2E7D32;    
}

ion-item{
    margin: 10px;
}

.botao{
    background-color: #2E7D32;
}

.marca{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
