page-alfeneiro {

    .popular{
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        color: #2E7D32;
    }

    .cientifico{
        text-align: center;
        font-style: italic;
        font-size: 1.5em;
        color: #2E7D32;
    }

    .titulo{
        font-size: 150%;
        text-align: center;
        color: #2E7D32;
    }

    .descricao{
        text-align: justify;
        color: #2E7D32;
    }
}
