page-glossario {
    .card-background-page {

        ion-card {
          position: relative;
          width: 90%;
          height: 30%;
          text-align: center;
          color: rgba(46, 125, 50, 0.233)
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #2E7D32
        }

        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: rgb(255, 0, 0);
          }
        
        }
}
